html,body,canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.search-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form input[type="text"] {
    height: 50px;
    border: none;
    color: #dddddd;
    background-color: transparent;
    padding: 0 20px;
    font-size: 18px;
    width: 400px;
}

.search-form input[type="text"]::placeholder {
  color: #aaaaaa; /* replace with your desired color */
}

.search-form button[type="submit"] {
    height: 50px;
    background-color: transparent; /* modify this line */
    border: 1px solid #dddddd; /* add this line to set a border */
    padding: 0 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all .3s;
    color: #dddddd;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index: 11;
}

.search-form button[type="submit"]:hover {
    background: #dddddd;
    color: #1B1734;
}

.btn {
    position: fixed;
    bottom: 5%;
    right: 0px;
    transform: translateX(-50%);
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.7em;
    background-color: transparent;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all .3s;
    z-index: 11;
}

.btn_works {
    left: 100px;
    right: unset;
    text-decoration: none;
}

.btn:hover {
    background: #dddddd;
    color: #1B1734;
}