html,
body,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.search-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.search-form input[type="text"] {
    height: 50px;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    padding: 0 20px;
    font-size: 18px;
    width: 400px;
}

.search-form input[type="text"]::placeholder {
    color: #aaaaaa;
}

.search-form button[type="submit"] {
    height: 50px;
    background-color: transparent;
    /* modify this line */
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* add this line to set a border */
    padding: 0 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all .3s;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index: 11;
}

.search-form button[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #1B1734;
}

.btn {
    position: fixed;
    bottom: 5%;
    right: 0px;
    transform: translateX(-50%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.7em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all .3s;
    z-index: 11;
}

.btn_works {
    left: 100px;
    right: unset;
    text-decoration: none;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #1B1734;
}

.mild-drizzle {
    position: absolute;
    display: flex;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    font-size: 3rem;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    color: rgba(255,255,255,0.6);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    white-space: nowrap;
}

#pre-results {
    position: absolute;
    display: flex;
    top: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 168px;
    margin-right: 93px;
    font-size: 18px;
    color: rgba(255,255,255,0.4);
    white-space: nowrap;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0 20px;
    /* max-height: 200px; */
    /* overflow-y: auto; */
    display: none;
    width: 400px;
    border: none;
    border-radius: 5px;
    z-index: 11;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li:hover {
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.button-group {
    display: flex;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.user-start {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
}

.circle-button {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 11;
    -webkit-font-smoothing: antialiased;
    margin-right: 25px;
    /* add space between the buttons */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.circle-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #1B1734;
}

.circle-button i {
    font-size: 0.9rem;
}